<div class="container">
  <h1>To Do <span>-></span></h1>
  <div class="tasks-container">
    <ul>
      <% @tasks.each do |task| %>
      <li>
        <%= check_box_tag :status, :checked => task.status %>
        <p><%= task.to_do %></p>
        <div class="links">
          <%= link_to "Edit", edit_task_path(task), class: "edit_link" %> 
          <%= link_to "X", task, method: :delete, class: "delete_link", remote: true %>
        </div>
      </li>
      <% end %>
    </ul>
    
    <%= render 'form' %>

  </div>
</div>